[Desktop Entry]
Version=1.0
Name=Web Comics
Comment=Read Web Comics
#Icon=comix
Exec=python /usr/share/WebComics/WebComics.py
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;
Name[en_IN]=WebComics
